<p id="notice"><%= notice %></p>

<p>
  <strong>Set of pieces:</strong>
  <%= @game_board.set_of_pieces %>
</p>

<p>
  <strong>List of moves:</strong>
  <%= @game_board.list_of_moves %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game_board.winner %>
</p>

<p>
  <strong>Loser:</strong>
  <%= @game_board.loser %>
</p>

<p>
  <strong>User id 1:</strong>
  <%= @game_board.user_id_1 %>
</p>

<p>
  <strong>User id 2:</strong>
  <%= @game_board.user_id_2 %>
</p>

<p>
  <strong>Active?:</strong>
  <%= @game_board.active? %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @game_board.turn %>
</p>

<%= link_to 'Edit', edit_game_board_path(@game_board) %> |
<%= link_to 'Back', game_boards_path %>
