<!-- Main home page -->
<% if user_signed_in? %>
    <div class="jumbotron">

      <div class="container">
        <center><h1>ChessMaster</h1></center>
        <br>
        <center>
        <p class="lead">Welcome <%= current_user.username %>! Select a player from the list below and start a match.</p>
      </div>
      </center>
      <center>
      <%= form_tag(welcome_start_game_path, method: "post") do %>
          <%= label_tag(@online_users, "Select an Active User:") %>
          <%= hidden_field_tag 'active_user', @current_user_id %>
          <%= select_tag("selected_user", options_from_collection_for_select(@online_users.collect, "id", "username")) %>
          <%= submit_tag("Start Game!") %>
      <% end %>
      </center>
    </div></center>


<% else %>
    <div class="jumbotron">
      <div class="container">
        <center><h1>ChessMaster</h1><br>

          <p class="lead">Challenge other players online to a game of chess.<br>
            Register today to build an online profile and make your way to the top of the leaderboard.</p></center>
      </div>
    </div>
    <br>
<% end %>

<div id="player_1_id" style="display: none;"><%= @current_user_id %></div>

<%= form_tag(welcome_join_game_path, method: "post", id: "join_game_id") do %>
    <%= hidden_field_tag 'active_user_id', @current_user_id %>
    <%= hidden_field_tag 'opponent_user_id', @current_user_id %>
    <%= hidden_field_tag 'unique_channel_id', @current_user_id %>
<% end %>

<center><br>
  <%= render 'layouts/leaderboard' %>
</center>
</div>
</div>
