<!-- Main home page -->
<% if user_signed_in? %>
    <div class="jumbotron">

      <div class="container">
        <center><h1>ChessMaster</h1></center>
        <br>

        <p class="lead">Welcome <%= current_user.username %>! Select a player from the list below and start a match.</p>
      </div>

      <%= form_tag("/search", method: "post") do %>
          <%= label_tag(@online_users, "Select an Active User:") %>
          <%= hidden_field_tag 'active_user', @current_user_id %>
          <%= select_tag("selected_user", options_from_collection_for_select(@online_users.collect, "id", "email")) %>
      <% end %>


      <div class="row">
        <div class="col-lg-4">
          <center><p><a class="btn btn-primary" href="welcome/start_game" role="button"><font color="white">Start
            Match &raquo;</font></a></p></center>
        </div>
      </div>

    </div></center>


<% else %>
    <div class="jumbotron">
      <div class="container">
        <center><h1>ChessMaster</h1><br>

          <p class="lead">Challenge other players online to a game of chess.<br>
            Register today to build an online profile and make your way to the top of the leaderboard.</p></center>
      </div>
    </div>
    <br>
<% end %>

<center><br>
  <%= render 'layouts/leaderboard' %>
</center>
</div>
</div>
