<% content_for :javascript_includes do %>
    <%= javascript_include_tag "forms.js" %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-8">
  	<canvas id="myCanvas" width="675" height="675"
        style="">
</canvas>
  </div>
  <div class="col-xs-6 col-md-4">
  	
<%= render 'layouts/chatbox' %>
  </div>
</div>

<!--These are switched so each client knows who its respective ID-->
<div id="player_1_id" style="display: none;"><%= @player_1_id %></div>
<div id="player_2_id" style="display: none;"><%= @player_2_id %></div>
<div id="unique_channel_id" style="display: none;"><%= @unique_channel_id %></div>
<div id="player_color" style="display: none;"><%= @player_color %></div>


